/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    padding: 2rem;

    position: sticky;
    top: 0;
}

.navbar .topnav { 
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar .atag {
    text-decoration: none;
    color: black;
    margin: 20px;
    position: relative;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .atag:hover::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 3em;
    height: 0.2em;
    background-color: green;
}
  
.navbar .active::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 3em;
    height: 0.2em;
    background-color: green;
}

/* main */

/* 選擇城市 */
.city-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 3em;
    gap: 20px;
    background-color: beige;
}

.main select {
    margin: 10px;
    width: 20em;
    height: 3em;
    padding: 8px;
    border-radius: 5px;
}

.main button {
    margin: 2px;
    width: 5em;
    height: 3em;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid black;
}

.main select:focus {
    background-color: whitesmoke;
}

/* 選擇城市-搜尋結果 */
.main table {
    border-collapse: separate;
    border-spacing: 2em;
    height: 10em;
}

.attractions th {
    width: 300px;
}

/* 輸入景點名稱 */
.city-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 3em;
    gap: 20px;
    background-color: blanchedalmond;
}

.main input {
    margin: 10px;
    width: 20em;
    height: 2em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

.main input:focus{
    background-color: whitesmoke;
}


/* map */
#mapid { 
    width: 30rem;
    height: 20rem; 
    gap: 20px;
}
    

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin: 3rem;
}